extends base
block content 
  main
    article
      section.upcoming
        .container
          .flex-wrapper
            .title-wrapper
              h2.h2.section-title list from this genre
            ul.filter-list
              li
                button.filter-btn this year
              li
                button.filter-btn last year
              li
                button.filter-btn all others
          ul.movies-list.has-scrollbar
            li
              .movie-card
                a(href='./movie-details.html')
                  figure.card-banner
                    img(src='/assets/images/upcoming-1.png', alt='The Northman movie poster')
                .title-wrapper
                  a(href='./movie-details.html')
                    h3.card-title The Northman
                  time(datetime='2022') 2022
                .card-meta
                  .badge.badge-outline HD
                  .duration
                    ion-icon(name='time-outline')
                    time(datetime='PT137M') 137 min
                  .rating
                    ion-icon(name='star')
                    data 8.5
            li
              .movie-card
                a(href='./movie-details.html')
                  figure.card-banner
                    img(src='/assets/images/upcoming-2.png', alt='Doctor Strange in the Multiverse of Madness movie poster')
                .title-wrapper
                  a(href='./movie-details.html')
                    h3.card-title Doctor Strange in the Multiverse of Madness
                  time(datetime='2022') 2022
                .card-meta
                  .badge.badge-outline 4K
                  .duration
                    ion-icon(name='time-outline')
                    time(datetime='PT126M') 126 min
                  .rating
                    ion-icon(name='star')
                    data NR
            li
              .movie-card
                a(href='./movie-details.html')
                  figure.card-banner
                    img(src='/assets/images/upcoming-3.png', alt='Memory movie poster')
                .title-wrapper
                  a(href='./movie-details.html')
                    h3.card-title Memory
                  time(datetime='2022') 2022
                .card-meta
                  .badge.badge-outline 2K
                  .duration
                    ion-icon(name='time-outline')
                    time(datetime='') N/A
                  .rating
                    ion-icon(name='star')
                    data NR
            li
              .movie-card
                a(href='./movie-details.html')
                  figure.card-banner
                    img(src='/assets/images/upcoming-4.png', alt='The Unbearable Weight of Massive Talent movie poster')
                .title-wrapper
                  a(href='./movie-details.html')
                    h3.card-title The Unbearable Weight of Massive Talent
                  time(datetime='2022') 2022
                .card-meta
                  .badge.badge-outline HD
                  .duration
                    ion-icon(name='time-outline')
                    time(datetime='PT107M') 107 min
                  .rating
                    ion-icon(name='star')
                    data NR
